extends layout

block content
  div(class="details")
    h1= "KARATSUBA"
    p A multiplication algorithm designed by Karatsuba.

    form(method='POST' action='')
        div.form-group
            label(for='a') #{'Integer a '}
            input#a.form-control(type='text' placeholder='12345' name='a' value=(undefined===a ? '' : a))
        br
        div.form-group
            label(for='b') #{'Integer b '}
            input#b.form-control(type='text' placeholder='54321' name='b' value=(undefined===b ? '' : b))
        br
        button.btn.btn-primary(type='submit') Calculate

    if errors
        ul.a
            for error in errors
                li.a!= error.msg
                br
