extends layout

block content
  div(id="sequence-details", class="details")
    h1 RESULT
    - var intA = a;
    - var intB = b;
    - var output = out;
    p #[strong a = ] #{intA}
    p #[strong b = ] #{intB}
    p #[strong ANSWER = ] #{output}
