doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="navbar-parent")
      div(class="sub-menu-parent")
        a(href="/", class="navlink") アルゴス
        div(class="sub-menu")
          div(id="karatsuba-nav", class="nav-item")
            a(href="/karatsuba", class="navlink") KARATSUBA
          div(id="sequence-nav", class="nav-item")
            a(href="/sequence", class="navlink") SEQUENCE
          div(id="bb-nav", class="nav-item")
            a(href="/branchbound", class="navlink") BRANCH & BOUND
    block content
