doctype html
html(lang='en')
  block navbar
    div(id="navbar-parent")
      div(id="algs-icon")
        a(href="/") あ
      div(id="karatsuba-nav")
        a(href="/karatsuba") KARATSUBA
      div(id="dynamic-nav")
        a(href="/dynamic") DYNAMIC
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
