doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="navbar-parent")
      div(class="sub-menu-parent")
        a(href="/", class="navlink") ア
        div(class="sub-menu")
          div(id="karatsuba-nav", class="nav-item")
            a(href="/karatsuba", class="navlink") KARATSUBA
          div(id="dynamic-nav", class="nav-item")
            a(href="/dynamic", class="navlink") DYNAMIC
    block content
