/* Site Theme Colors*/
body {
  font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2",sans-serif;
  background: #08192D;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  font-weight: 300;
  padding: 0; }
