/* Site Theme Colors*/
$primary: #08192D;
$secondary: #FFFFFB;
$tertiary: #D0104C;
$quaternary: #00d943;

body {
  font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2",sans-serif;
  background: $primary;
  color: $secondary;
  font-size: 16px;
  padding-top: 0px;
  width: 100%;

  #navbar-parent {
    position: sticky;
    font-size: 35px;
    float: left;
    text-decoration: none;
    color: $secondary;
    background-color: $primary;
    top: 0;
    left: 0;
    width: 100%;

    /*
     * Help with nav transitions from:
     * https://codepen.io/shshaw/pen/gsFch
     */
    .sub-menu-parent {
      background-color: $primary;
      width: 25%;

      &:focus .sub-menu,
      &:focus-within .sub-menu,
      &:hover .sub-menu {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
      }

      .sub-menu {
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        position: absolute;
        font-size: 25px;
        top: 100%;
        left: 0;
        transform: translateY(-2em);
        width: 25%;
        z-index: -1;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

      }
    }

    a {
      display: block;
      background-color: $primary;
      color: $secondary;
      text-decoration: none;
      padding: 14px 16px;

      &:hover {
        color: $tertiary;
        transition: 0.3s;
      }
    }

  }

  .details {
      text-align: center;
      width: 500px;
      margin: auto;
      display: block;
      overflow: hidden;

      a {
        color: $tertiary;
        text-decoration: none;
      }

      form {
        padding-top: 30px;
        padding-bottom: 30px;
        border: solid;
        border-radius: 15px;

        div.form-group {
          input {
            background-color: $secondary;
            border: none;
          }
        }

        button {
          background: $primary;
          color: $secondary;
          border: solid $secondary 1px;
          border-radius: 25px;
          padding-top: 5px;
          padding-bottom: 5px;

          &:hover {
            cursor: pointer;
            color: $quaternary;
            border-color: $quaternary;
            transition: 0.3s;
         }
      }
    }

    /* Error Color */
    ul.a {
      color: $tertiary;
    }
  }

  #sequence-result {
    width: 100%;
    font-size: 16px;
  }
}
